* {
    box-sizing: border-box;
}

body {
    font-family: "Yu Gothic";
}

/* HEADER */

header {
    display: contents;
}

.company-ribbon {
    width: 100%;
    background-color: black;
    color: #FFF;
    font-family: "Besley", serif;
    font-weight: 500;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: end;
   
}

.company-ribbon h2 {
    padding: 8px 10px;
    font-size: 20px;
    cursor: pointer;
}

.company-nav {
    height: 52px;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.diamond {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: #ff0000;
    background: linear-gradient(62deg, rgb(255, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.company-nav-left {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 14px;
}

.company-nav-expansion {
    background-color: #FFF;
    height: 180px;
    width: 100%;
    position: absolute;
    transition: transform .4s ease-in-out, opacity .3s ease;
    transform: translateY(-10%);
    opacity: 0;
    pointer-events: none;
    z-index: 4;
    box-shadow: 0 10px 10px -10px #000;
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.nav-expansion-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    padding: 20px;
    cursor: pointer;
}

.nav-expansion-options:hover {
    box-shadow: 0px 2px 2px 4px #DDD;
}

.nav-expansion-options i {
    font-size: 2.5rem;
}

.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.sticky-container {
    position: sticky;
    width: 100%;
    z-index: 3;
    top: 0;
    background-color: #FFF;
}

.company-nav-left a {
    color: #4f4f4f;
    transition: .3s;
}

.company-nav-left a:hover {
    color: #990000;
}

.arrow-down-header {
    display: inline-block;
    transform: rotate(180deg);
    font-size: 19px;
}

.company-nav-right {
    display: flex;
    align-items: center;
}

.company-nav-right i {
    font-size: 20px;
    cursor: pointer;
}

.company-nav-right input {
    height: 90%;
    width: 300px;
    padding: 18px;
    border-radius: 25px;
    border: 1px solid #DDD;
    margin-right: -40px;
}


.login-button {
    margin-right: 30px;
    border-radius: 25px;
    background-color: #990000;
    border: none;
    width: 6rem;
    height: 2rem;
    color: #FFF;
    cursor: pointer;
    font-weight: 550;
    transition: .5s;
}

.login-button:hover {
    background-color: #5f0000;
}

.company-store-nav {
    display: flex;
    padding: 20px 0px 17px;
    justify-content:center;
    align-items: center;
}

.store-logo-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    margin-left: 30px;
    font-size: 1.3rem;
    cursor: pointer;
}

.nav-center {
    display: flex;
    gap: 25px;
    font-weight: bold;
    font-size: 16px;
}

.nav-center a {
    padding: 5px 8px;
    border-radius: 25px;
    transition: .5s;
}

.nav-center a:hover {
    background-color: #e2e2e2;
}

.store-logo {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-bag-shopping {
    transform: rotate(-45deg);
    color: #FFF;
}



/* MAIN */

main {
    background-color: #000;
    color: #FFF;
    padding-bottom: 50px;
}

#general-description-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.game-image {
    width: 100%;
    height: 350px;
	background-image:url(..//assets/img/Cherry_blossom.JPG);
    background-size: cover;
	background-position: center;
	position: relative;
}

#description-content-1 {
    background-color: #1E1F23;
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 28rem;
    margin: 0 50px 0 30px;
    position: relative;
    margin-top: -250px;
}

#description-content-1 h1 {
    font-size: 2.2rem;
    line-height: 3rem;
    margin-bottom: 18px;
}

.game-details {
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 14px;
}

#desc-avaiable-platforms {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#desc-avaiable-platforms li {
    border: 1px solid #FFF;
    padding: 3px 5px;
    font-weight: bold;
    font-size: .7rem;
}

#game-price {
    font-size: 1.6rem;
    margin: 30px 0;
}

#game-desc-btn-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

#buy-btn {
    width: 90%;
    font-size: 1rem;
    border-radius: 25px;
    height: 40px;
    background-color: #c10000;
    border: none;
    color: #FFF;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

#wishlist-btn {
    border-radius: 50%;
    background-color: #393939;
    border: 1px solid #FFF;
    width: 10%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

#wishlist-btn:hover {
    background-color: #aaa8a8;
}

#buy-btn:hover {
    background-color: #950000;
}

#wishlist-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

#description-content-2 {
    display: flex;
    flex-direction: row;
    gap: 90px;
    padding-top: 40px;
    font-size: .9rem;
    max-height: 165px;
    align-items: flex-start;
}

#desc-list-1 li, #desc-list-2 li {
    margin-bottom: 20px;
}

#desc-list-1 li i, #desc-list-2 li i {
    font-size: 1.2rem;
    margin-right: 8px;
}

#desc-list-2 p {
    font-weight: bold;
    margin-bottom: 20px;
}

.ERSB-classification {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items:center;
}

.ERSB-classification img {
    width: 59px;
    max-height: 80px;
}

/* RATING-CONTAINER */

#rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

.general-container-title {
    font-size: 2.2rem;
    margin-bottom: 60px;
}

.graph-container {
    background-color: #1E1F23;
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-bottom: 30px;
}

.graph-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.global-average {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

#global-average-number {
    font-size: 2.2rem;
}

.global-average-stars i {
    font-size: 1.5rem;
}

.percentage-bar {
    width: 100%;
    height: 5px;
    border: none;
    background-color: #2C2D33;
    border-radius: 25px;
}

.graph-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stars-set {
    margin-bottom: 5px;
    font-size: .8rem;
}

.inner-percentace-bar {
    border-radius: 25px;
    width: 0%;
    height: 100%;
    background-color: #B2B2B2;
}

#bar-1 {
    width: 79%;
}

#bar-2 {
    width: 7%;
}

#bar-3 {
    width: 4%;
}

#bar-4 {
    width: 2%;
}

#bar-5 {
    width: 1%;
}

/* REVIEWS-CONTAINER */

.reviews-container {
    background-color: #1E1F23;
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.reviews-query {
    margin-bottom: 30px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.reviews-query select {
    width: 300px;
    margin-top: 15px;
    border-color: #FFF;
    outline: 2px solid transparent;
    background-color: transparent;
    color: #FFF;
    padding: 14px;
    border-radius: 10px;
    font-size: .9rem;
    transition: .3s;
}

.reviews-query select:hover {
    background-color: #4f4f4f;
}

.reviews-query select:focus {
    outline-color: #249CFF;
    outline-offset: 3px;
}

.reviews-query option {
    background-color:#1E1F23;
    border: none;
    color: #FFF;
}

.reviews-query li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reviews-description {
    width: 80%;
    text-align: center;
}

.reviews-description p:last-child {
    margin-top: 80px;
    font-size: 1.4rem;
}

/* ACCESSIBILITY-CONTAINER */

#Accessibility-container {
    display: flex;
    align-items: center;
    margin: 80px auto 0;
    flex-direction: column;
    width: 60%;
}

.hidden {
    display: none; 
}

.summary {
    margin-bottom: 10px;
    width: 90%;
    height: 120px;
    background-color: #1E1F23;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    cursor: pointer;
}

.summary h3 i {
    margin-right: 14px;
}

.summary h3 {
    margin-bottom: 25px;
    font-size: 1.2rem;
}

.summary p {
    margin-left: 46px;
    font-weight: lighter;
}

.summary span {
    transform: rotate(180deg);
    display: flex;
    align-self: flex-end;
    margin-top: -70px;
    font-size: 1.7rem;
    transition: .05s;
}

.details {
    width: 80%;
    padding: 30px 0;
}

.details li:first-child {
    margin-bottom: 40px;
}

.details li h4 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.details li p {
    font-weight: lighter;
}

/* LEGAL-INFO-CONTAINER */

.legal-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto 0;
    
}



.legal-description {
    background-color: #1E1F23;
    padding: 40px;
    color: #959595;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.4rem;
}

.game-description {
    width: 40%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    margin: 80px auto 0;
    font-size: .8rem;
}

.game-description-list {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.game-description-list li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.game-description-list span {
    font-weight: bold;
    text-align: center;
}

.game-description-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.publisher-copyright {
    margin: 50px auto 30px;
    text-align: center;
}

/* FOOTER */

footer {
    width: 100%;
    background-color:#950000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 80px;
    gap: 50px;
    color: #FFF;
}

.footer-header {
    width: 100%;
    position: relative;
    left: 0;

}

.footer-header div {
    height: 35px;
    width: 35px;
    box-shadow: 3px 3px 6px #000;
}

.footer-links-container {
    display: flex;
    flex-direction: row;
    gap: 20rem;
    position: relative;
    left: 0;
    width: 100%;
    font-size: 1.2rem;
    font-weight: lighter;
}

.footer-lists li {
    margin-bottom: 40px;
    transition: .3s;
    cursor: pointer;
}

.footer-lists li:hover {
    text-decoration: underline #a4a4a4;
    color:#a4a4a4;
}

.Diamond-copyright p {
    text-decoration: underline #FFF;
    text-align: center;
}

.Diamond-copyright p:last-child {
    margin-top: 20px;
    opacity: .7;
    font-size: .8rem;
}
